.rainbow ul {
	list-style: none;
	width: 100%;
	height: 100%;
}

.rainbow ul li {
	float: left;
	width: 14%;
	height: 100%;
}


.red {
	background-color: red;
}

.painbow {
	background-color: #000;
}

#lol {
	display:none;
	font-size: 72px;
	position: absolute;
	font-family: Futura, Arial, sans-serif;
}

#wait {
	font-size: 72px;
	position: absolute;
	top:5px;
	left: 5px;
	font-family: Futura, Arial, sans-serif;
}

#haha {
	background-repeat: no-repeat;
	background-image: url(../images/haha.png);
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 300px;
	width: 271px;
	display: none;
}